.header {
    &__body {
        margin: 27px auto 28px auto;
        display: flex;
        width: 1140px;
        align-items: center;
    }
    &__logo {
        margin-right: 177px;
    }
    &__menu {
        display: flex;
        justify-content: center;
    }
    &__list {
        display: flex;
        gap: 56px;
        margin-right: 157px;
    }
    &__link {
        font-size: 14px;
        font-weight: 500;
        line-height: 22.64px;
        color: $black;
        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
    &__img-loup {
        margin-right: 30px;
    }
    &__img-shop {
        margin-right: 24px;
    }
    &__loup, &__shop, &__lk {
        &:hover {
            opacity: 0.65;
        }
    }
}