.home {
    &__body {
        display: flex;
        margin: 54px auto 110px auto;
        width: 1140px;
        flex-direction: column;
    }
    &__text-img {
        display: flex;
    }
    &__text-top {
        @include text-red;
        font-size: 16px;
        line-height: 25.87px;
    }
    &__title {
        font-size: 61px;
        font-weight: 600;
        line-height: 73.2px;
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        color: #686E73;
        margin-top: 29px;
    }
    &__footer {
        display: flex;
        gap: 84px;
        width: 1140px;
        padding: 76px 118px;
        box-shadow: 0px 80px 35px 0px #f2f2f2;
    }
    &__text-cash {
        display: flex;
        gap: 18px;
    }
    &__text {
        @include cash;
        font-size: 20px;
    }
    &__text_grey {
        @include grey-cash;
        font-size: 16px;
    }
    &__button-text {
        margin-top: 51px;
        display: flex;
        gap: 31px;
        align-items: center;
    }
    &__button {
        padding: 16px 34px;
        background-color: $blue;
        width: 151px;
        height: 58px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        line-height: 25.87px;
        &:hover {
            background-color: #20689f;
        }
    }
}

